In [31]:
# pandas facilita na visualização dos dados
# usando tabelas e etc economizando muitas linhas de código
# se comparado ao fazer no excel

import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import time

gecko = '/home/andre/Downloads/geckodriver'
driver = webdriver.FirefoxOptions()
driver.add_argument('-headless')
driver = webdriver.Firefox(executable_path=gecko, options=driver)

url = 'https://www.transfermarkt.pt/jumplist/startseite/wettbewerb/BRA1/'
driver.get(url)
time.sleep(5)
html = driver.execute_script('return document.documentElement.outerHTML')

soup = bs(html, 'html.parser')
tabela = pd.read_html(str(soup), header = 0)
tabela[3]

,Clube,name,name.1,Plantel,ø-Idade,Estrangeiros,Valor de mercado total,ø-valor de mercado,Valor de mercado total:,ø-VdM
0,NaN,Clube de Regatas do Flamengo,Flamengo,37,252,6,"115,00 M €","3,11 M €","115,00 M €","3,11 M €"
1,NaN,Sociedade Esportiva Palmeiras,Palmeiras,30,286,3,"98,65 M €","3,29 M €","98,65 M €","3,29 M €"
2,NaN,São Paulo Futebol Clube,São Paulo,37,255,3,"85,25 M €","2,30 M €","85,25 M €","2,30 M €"
3,NaN,Grêmio Foot-Ball Porto Alegrense,Grêmio,37,263,1,"82,30 M €","2,22 M €","82,30 M €","2,22 M €"
4,NaN,Sport Club Corinthians Paulista,Corinthians,30,275,4,"76,05 M €","2,54 M €","76,05 M €","2,54 M €"
5,NaN,Fluminense Football Club,Fluminense,45,246,2,"67,45 M €","1,50 M €","67,45 M €","1,50 M €"
6,NaN,Sport Club Internacional,Internacional,39,264,6,"62,05 M €","1,59 M €","62,05 M €","1,59 M €"
7,NaN,Santos FC,Santos FC,36,252,8,"55,90 M €","1,55 M €","55,90 M €","1,55 M €"
8,NaN,Clube Atlético Mineiro,Atlético-MG,41,257,6,"51,85 M €","1,26 M €","51,85 M €","1,26 M €"
9,NaN,Cruzeiro Esporte Clube,Cruzeiro,28,274,3,"46,05 M €","1,64 M €","46,05 M €","1,64 M €"
10,NaN,Club Athletico Paranaense,Athletico-PR,36,254,5,"37,55 M €","1,04 M €","37,55 M €","1,04 M €"
11,NaN,Club de Regatas Vasco da Gama,Vasco da Gama,36,256,2,"36,10 M €","1,00 M €","36,10 M €","1,00 M €"
12,NaN,Esporte Clube Bahia,EC Bahia,38,263,1,"34,95 M €",920 mil €,"34,95 M €",920 mil €
13,NaN,Botafogo de Futebol e Regatas,Botafogo,36,254,3,"34,55 M €",960 mil €,"34,55 M €",960 mil €
14,NaN,Associação Chapecoense de Futebol,Chapecoense,38,277,1,"25,60 M €",674 mil €,"25,60 M €",674 mil €
15,NaN,Goiás Esporte Clube,Goiás EC,30,266,1,"23,15 M €",772 mil €,"23,15 M €",772 mil €
16,NaN,Ceará Sporting Club,Ceará SC,33,281,1,"21,35 M €",647 mil €,"21,35 M €",647 mil €
17,NaN,Centro Sportivo Alagoano (AL),Alagoano,34,291,4,"21,35 M €",628 mil €,"21,35 M €",628 mil €
18,NaN,Fortaleza Esporte Clube,Fortaleza,31,280,3,"20,30 M €",655 mil €,"20,30 M €",655 mil €
19,NaN,Avaí Futebol Clube (SC),Avaí FC,40,264,3,"14,40 M €",360 mil €,"14,40 M €",360 mil €
20,NaN,NaN,NaN,713,"26,5 Anos",66,"1,01 Mil milhões €","1,42 M €","1,01 Mil milhões €","1,42 M €"

In [32]:
driver.quit()